<%- include('../../partials/header.ejs') %>
<body>
  <%- include('../../partials/navbar.ejs') %>
  <div class="container">
    <hr />
    <div class="row">
      <h2 class="col">Postagens</h2>
      <a class="btn btn-success col-4 me-3 pt-2" href="/admin/articles/new">Nova Postagem</a>
    </div>
    <hr />
    <table class="table table-hover table-bordered">
      <thead>
        <tr>
          <th>ID</th>
          <th>Título</th>
          <th>Slug</th>
          <th>Categoria</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <% articles.forEach(article => { %>
          <tr>
            <td><%= article.id %></td>
            <td><%= article.title %></td>
            <td><%= article.slug %></td>
            <td><%= article['category.title'] %></td>
            <td>
              <form method="post" action="/admin/articles/delete" style="display: inline;"
                onsubmit="handleDelete(event, this, '<%= article.title %>')"
              >
                <input type="hidden" name="id" value="<%= article.id %>"/>
                <button class="btn border-dark p-1">
                  <img width="30" src="/assets/delete.png" alt="del">
                </button>
              </form>
            </td>
          </tr>        
        <% }) %>
      </tbody>
      <tfoot>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td>
            <div class="text-end me-2">
              
            </div>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
</body>
<%- include('../../partials/footer.ejs') %>

<script>
  function handleDelete(event, form, article) {
    event.preventDefault();
    const response = confirm(`Deseja deletar o artigo ${article}?`);
    response && form.submit();
  }
</script>